.users-wrapper {
  width: 30%;
  background-color: #bed5d3;
  height: 100%;
  padding: 20px;
}

#scrollableDiv {
  height: 100%;
  overflow: auto;
}

.active {
  background-color: #6fdf9c;
}

.user-profile {
  padding: 15px;
}
